// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.entries {
  // Add the entries class to your body tag
  // Then, place scoped styles here.
}

.entry-content label{
  float: left;
  width: 80px;
  font-weight: bold;
}

div.entry {
  padding: 6px;
  border: 1px solid gray;


}

.romaji {
  display: none;
}

