// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.entries {
  // Add the entries class to your body tag
  // Then, place scoped styles here.
}

.entry-content label, .entry-editor label {
  float: left;
  width: 80px;
  font-weight: bold;
}

div.entry {
  padding: 6px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.romaji {
  display: none;
}

#entry-template {
  display: none;
}

.error {
  border: 1px solid red;
  background-color: #c00;
  padding: 7px;
  margin-bottom: 20px;
  color: #fff;
  display: none;
}

.entry-editor {
  display: none;
}

input[type="text"], select {
  width: 91%;
}

