input, option, select{
  font-size: 1.2em;
}

.entry-english, .entry-japanese, .entry-romaji, .entry-comment {
  font-size: 1.2em;
}

.entry-comment {
  margin-top: 10px;
}

.entry label {
  font-size: 1.1em;
  width: 100%;
}
